/* Styles for the Apples-to-Apples game page */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #0dbde980;
  margin: 0;
  padding: 20px;
}

.container {
  background-color: #11ec48a1;
  border: 1px solid #3cf30e;
  padding: 20px;
  margin: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #db1414ce;
  text-align: center;
}

.game-status {
  background-color: #f1f3edd3;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.controls {
  display: flex;
  justify-content: space-around;
}

button {
  background-color: #0d00ff;
  color: rgb(251, 252, 246);
  border: none;
  padding: 10px 15px;
  border-radius: 30px;
  cursor: pointer;
}

button:hover:enabled {
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

button:disabled {
  font-family: 'Montserrat';
  background-color: #0d00ff;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.center {
  margin-left: auto;
  margin-right: auto;
}